.active {
    position: relative;
    height: max-content;
}

.active::after {
    content: ''; 
    width: 5px;
    background-color: #0D062D;
    position: absolute;
    right: -20px;
    top: 11px;
    height: 50%;
    border-radius: 50px 0 0 50px;
}